h1 {
    color: blueviolet
}

p {
    color: black
}
img {
    width: 400px;
}
a {
    background-color: brown;
    color: bisque;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}
a:hover{
    background-color: bisque;
    color: brown;
    outline: 1px solid purple;
}